*{
    margin: 0px;
    font-family: Arial;
    border:border-box;
}

.nav-bar{
    height: 60px;
    background-color:#0f1111;
    color:white;
    align-items:center;
    display: flex;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    /* background-image:url(Amazon_logo.png);
    background-size:cover; */
    height:50px;
    width: 100%;
        background-image:url(images/logo.png);
    background-size:cover;
    
}
.borderr {
    border: 1.5px solid transparent;
}
.borderr:hover{
    border: 1px solid red;
}
.nav-address{
    color:white
}

/* second box     */
.add-first{
    color:#CCCCCC;
    margin-left:15px;
    font-size: 0.8rem;
}
.add-second{
    color:#FFFFFF;
    margin-left:4px;
    font-size:1rem;
}
.address-log{
    display: flex;
}
/* box3  */

.search-icon{
    margin-left:5px
}
.nav-search{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: orange;
    border:1px solid transparent;
}
.nav-search:hover{
    border:1px solid red;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;

}
/* box5  */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size:0.85rem;
}

/* box6 */
.nav-cart i {
    font-size:38px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;

}

/* panel */
.panel {
    background-color: #222f3d;
    display: flex;
        align-items: center;
    justify-content: space-evenly;
    height: 30px;

}

.panel-options p {
    display: inline;
    color:white;
    margin-left:35px;

}
.panel-options{
    width:90%;
    font-size: 0.85rem;

}

/* hero section */
.hero-section{
    background-image: url("https://m.media-amazon.com/images/I/71h15GsHkvL._SX3000_.jpg");
    display: flex;
    justify-content: center;
    position: flex-end;
    background-size: cover;
    height:400px;
     align-items: flex-end;    /*  the msg box will be end of the flex  */
}
.hero-section-msg{
    height:30px;
    color:black;
    width:80%;
    background-color: white;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    border:4px solid black;
    top: auto;

}
.hero-section-msg a{
 color:orange;
}


/* shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e7e6;
    justify-content: space-evenly;

}
.box{
    width:20%;

    height: 400px;
    background-color:white;
    border:2px solid black;
    padding:20px 0px 15px;  
    margin: 10px;
}
.box-img{
    height: 300px;
    background-size:auto ;
}
.box-content{
    margin-left: 1rem;
    margin-right:1rem  ;
}
.box-content a{
    color:#007185;
}


/* footer */
.footer-panel1{
    height: 19px;
    padding: 15px;

    text-align: center;
    background-color: #37475a;
    color:white;
}


.footer-panel2{
    margin-top:2px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #222f3d;
    color:white;
}
 ul a{
    margin-top:5px;
    display: block;
}


/*  */


.footer-panel3{
    padding-top: 20px;
    height: 0px;
    background-color: #222f3d;
    color: white;
    border-top:0.5px ;
    display: flex;
    justify-content: center;
    border:3px solid black; 
    align-items: center;    

}
.logo{
    background-image: url("images/logo.png");
    background-size: cover;
    height: 50px;
    width:100px;
}

.footer-panel4{
    background-color: #0f1111;
    color:white;
    height: 80px;
    text-align: center;
    font-size: 0.7rem;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.pages{

    padding-top: 25px;
}
.copyright{

    padding-top: 5px;
}